.icon-user{
  cursor: pointer;
  //display: flex;
  //align-items: center;
  //margin-top: 4px;
  //justify-content: flex-end;
  position: absolute;
  top: 4px;
  right: 0;
}
:host ::ng-deep .p-menu {
  z-index: 2;
  position: absolute;
  top: 52px;
  right: 0;
  background-color: #f6f6f6;
}
