.modal-login {
  display: flex;
  align-items: center;
  background-color: #b67fe8;
  height: 100vh;
  width: 100%;
}
.form-login {
  //display: flex;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
  height: 50vh;
  width: 40%;
  border-radius: 8px;
}
