<div class="modal-login">
  <div class="form-login">
    <form [formGroup]="formLogin">
      <h1 *ngIf="!isRegister">Login</h1>
      <h1 *ngIf="isRegister">Register</h1>
      <div class="input-modal">
        <input formControlName="name" type="text" placeholder="Username" pInputText/>
        <i class="pi pi-user"></i>
      </div>
      <div class="input-modal" *ngIf="isRegister">
        <input formControlName="email" type="text" placeholder="Email" pInputText/>
        <i class="pi pi-envelope"></i>
      </div>
      <div class="input-modal">
        <input formControlName="password" [type]="showPass[0] ? 'text' : 'password'" placeholder="Password" pInputText/>
        <i class="pi" [ngClass]="{'pi-eye': !showPass[0], 'pi-eye-slash': showPass[0]}"
           (click)="showPass[0]=!showPass[0]"></i>
      </div>
      <div class="input-modal" *ngIf="isRegister">
        <input formControlName="confirm" [type]="showPass[0] ? 'text' : 'password'" placeholder="Confirm Password"
               pInputText/>
        <i class="pi" [ngClass]="{'pi-eye': !showPass[0], 'pi-eye-slash': showPass[0]}"
           (click)="showPass[0]=!showPass[0]"></i>
      </div>
      <div class="remember-forgot" *ngIf="!isRegister">
        <label><input type="checkbox"> Remember me</label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit" class="btn" [disabled]="isDisableButton()" (click)="onSubmitForm()">Submit</button>
      <div class="register-link" *ngIf="!isRegister"><p>Don't have an account? <a (click)="onRegister()"> Register</a></p></div>
      <div class="register-link" *ngIf="isRegister"><p>Do you have an account? <a (click)="onLogin()"> Login</a></p></div>
    </form>
  </div>
</div>
